/*
Name: INNO-Responsive One Page HTML5 Template
<?xml version="1.0" encoding="UTF-8"?>
author: SamTheme
website: http://www.samtheme.com
*/
/* Table of Contents
--------------------------------------------------------------
Preloader
Slideshow Section
Navigation Area
Services Section
About Us Section
Testimonials Section
Carousel Testimonials Section
Portfolio Section
Portfolio Carousel Slider
Clients Section
Blog Section
Pricing List Section
Contact Us Section
Contact Form Section
Footer Section
Blog Page CSS

*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body{height:100%; margin:0; padding:0; border:0; background-color:#FFF;}

/** Preloader **/
#preloader {position: fixed;top:0;left:0;right:0;bottom:0;background-color:#fff; z-index:999999; }
#status {width:200px;height:200px;position:absolute;left:50%; top:50%; background-image:url(../images/load.gif); background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -100px; }

.clear{clear:both;}.inno-header{height:100%; padding:0 0 65px 0; background-image:url("../images/header-bg.gif"); background-position:top center; background-repeat:no-repeat;background-attachment: fixed;}
.inno-btn{background-color:#5f6266; font-family:Lato; font-weight:400px; font-size:12px; margin:25px 0 0 0; color:#FFF; border:1px solid #45484c;}
.section-title h2{color:#2e2e2e; font-family:Lato; font-weight:900; text-align:center; font-size:42px;}
.section-title h3{color:#2e2e2e; font-family:Lato; font-weight:700; text-align:center; font-size:18px; margin:5px 0 0 0;}
.section-style{height:10px; background-image:url("../images/section-style.png"); background-position:top center; background-repeat:no-repeat; margin:-3px 0 0 0;}
.section-title-margin{margin:70px 0 0 0;}
.container-fluid{padding-left:0;}

/** Slideshow Section **/
.slideshow{height:100%;}

/** Navigation Area **/
#menu-bar{width:100%; height:73px; border-top:1px solid #cd1516; border-bottom:9px solid #cd1516; z-index:9999; background-color:#353232;}
.inno-menu li{list-style:none; float:left; padding:23px 19px 19px 20px; text-transform:uppercase; font-family:Lato; font-weight:900; font-size:15px;}
.inno-menu a{color:#FFF; text-decoration:none;}
.inno-menu li:hover{background-color: rgba(255, 255, 255, 0.15);}
.inno-menu .nav .active {background-color: rgba(255, 255, 255, 0.15);}
.nav>li>a{padding:0;}
.navbar-default{background-image:none; border-radius:0px; border:none;}
.navbar-default .navbar-nav>li>a{color:#FFF;}
.navbar-default .navbar-nav>.active>a{color:#FFF;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color:#FFF; background-color: transparent;}
.nav > li > a:hover,
.nav > li > a:focus {background-color:transparent;}
.navbar-default .navbar-collapse {border-top: none; box-shadow: none;}


/** Services Section **/
.services-section-title-margin{margin:100px 0 0 0;}
.our-service{margin:30px 0 0 0; text-align:center;}
.services-content{margin:50px 0 0 0;}
.service-icon{height:170px; width:170px; margin:0 auto; border-radius:50%; -webkit-border-radius:50%; border:3px solid #2e2e2e;}
.services-hover-effect:hover> .service-icon{border:3px solid #cc1617;  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 5px #cc1617; box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 5px #cc1617;}
.web-design-icon{background-image:url("../images/web-design-icon.png"); background-position:center; background-repeat:no-repeat;}
.mobile-icon{background-image:url("../images/mobile-icon.png"); background-position:center; background-repeat:no-repeat;}
.game-icon{background-image:url("../images/game-icon.png"); background-position:center; background-repeat:no-repeat;}
.service-text-area h2{color:#2e2e2e; font-family:Lato; font-weight:900; text-transform:uppercase; text-align:center; margin:27px 0 0 0; font-size:20px;}
.service-text-area p{color:#444444; font-family:Lato; font-weight:400; text-align:center; margin:27px 0 0 0; font-size:12px; line-height:18px;}
.services-hover-effect:hover> .web-design-icon{background-image:url("../images/web-design-icon-hover.png"); background-position:center; background-repeat:no-repeat;}
.services-hover-effect:hover> .mobile-icon{background-image:url("../images/mobile-icon-hover.png"); background-position:center; background-repeat:no-repeat;}
.services-hover-effect:hover> .game-icon{background-image:url("../images/game-icon-hover.png"); background-position:center; background-repeat:no-repeat;}
.services-hover-effect:hover> .service-text-area h2{color:#cd1516;}
.services-hover-effect:hover> .service-text-area .btn{background-color:#da4f50; color:#FFF; border:1px solid #cd1516; transition:0.40s; -webkit-transition:0.40s;}
.another-service{margin:90px 4% 0 4%; background-color:#f3f2f2; border-bottom:8px solid #cd1516;}
.another-service h2{color:#444444; font-family:Lato; font-weight:900; text-transform:uppercase; text-align:left; font-size:16px;}
.another-service p{color:#444444; font-family:Lato; font-weight:400; margin:15px 0 30px 0; font-size:12px; line-height:18px;}
.another-services-icon-title-main{margin:30px 0 0 0;}
.another-services-icon{ width:50px; height:50px; background-color:#313336; border-radius:50%;}
.strategy img{ margin:11px 2px 0 0;}.creative img{ margin:14px 0 0 -3px;}.development img{ margin:11px 0 0 -4px;}.marketing img{ margin:11px 0 0 -4px;}
.another-service-effect:hover{background:url("../images/more-services-hover.png"); background-size:10% 100%;}
.another-service-effect:hover> .another-services-icon-title-main .another-services-icon{background-color:#cd1516; transition:0.60s; -webkit-transition:0.60s;}

/** About Us Section **/
.about-section-title-margin{margin:100px 0 0 0;}
.about-content{margin:80px 0 0 0;}
.about-title p{color:#333333; font-family:Lato; font-weight:400; margin:15px 0 30px 0; font-size:18px; line-height:30px; text-align:center;}
.team-photo-main{margin:0 4% 0 4%;}
.team-photo-margin{margin:15px 0 0 0;}
.team-member-text h2{color:#2e2e2e; font-family:Lato; font-weight:900; text-transform:uppercase; text-align:center; font-size:18px;}
.team-member-text span{color:#7c7c7c; font-family:Lato; font-weight:700; text-transform:none; text-align:center; font-size:11px;}
.team-member-text p{color:#b9b9b9; font-family: lato; font-weight:400; text-align:center; font-size:12px; line-height:18px; margin:10px 0 0 0;}
.team-member-photo img{background-color:#dddedf;}
.inno-counter{margin:90px 0 0 0; text-align:center;}
.inno-number-text span{color:#333333; font-family:Lato; font-weight:300; font-size:75px;}
.inno-number-text h3{color:#2e2e2e; font-family:Lato; font-weight:500; font-size:18px; text-transform:uppercase;}
.inno-counter-icon{height:65px;}.coffe-icon{margin:-13px 0 0 0;height:77px}

/** Testimonials Section **/
.testimonials-wrapper{ height:auto; margin:100px 0 0 0; background-image:url("../images/testimonials-bg.gif"); background-position:center; background-size:cover; background-attachment: fixed;}
.testimonials{height:100%; margin:0 4%;}
.testimonials-main-area{margin:70px 0;}
.testimonials-section-title h2{color:#FFF; font-family:Lato; font-weight:900; text-align:center; font-size:42px;}
.testimonials-section-title h3{color:#FFF; font-family:Lato; font-weight:700; text-align:center; font-size:18px; margin:5px 0 0 0;}
.testimonials-section-style{height:10px; background-image:url("../images/section-style.png"); background-position:top center; background-repeat:no-repeat; margin:-3px 0 0 0;}
.testimonials-content{margin:0 0 0 4%;}

/** Carousel Testimonials Section **/
.carousel .item {width:100%; text-align:center;}
.testmonial-prev{width:47px; height:45px; float:left;  background-image:url("../images/icon/testmo-arrow-left.png"); background-position:center center; background-repeat:no-repeat; }
.testmonial-next{width:47px; height:45px; float:left; background-image:url("../images/icon/testmo-arrow-right.png"); background-position:center center; background-repeat:no-repeat; margin:0 0 0 12px;}
.testmonial-prev:hover{background-image:url("../images/icon/testmo-arrow-left-hover.png");}
.testmonial-next:hover{background-image:url("../images/icon/testmo-arrow-right-hover.png");}
.testmonial-arrow{width: 120px; margin:30px auto 0 auto;}
.testmonial-text h2{font-size:18px; color:#FFF; font-family:lato; font-weight:900; text-transform:uppercase; margin:20px 0 25px 0;}
.testmonial-text p{font-size:14px; color:#FFF; line-height:22px; font-family:lato; font-weight:400; padding:0 10px;}
.testmonial-date{margin:25px 0 0 0;}
.testmonial-photo{width:85px; margin:0 auto; padding:0 0 8px 0; background-image:url("../images/icon/testmonial-photo-icon.png"); background-position:bottom center; background-repeat:no-repeat;}
.testmonial-photo img{border:7px solid #cd1516; margin:0;}

/** Portfolio Section **/
.portfolio-content-area{margin:50px 0 0 0;}
.portfolio-top-text{margin:0 12%;}
.portfolio-top-text p{color:#333333; font-family: lato; font-weight:400; text-align:center; font-size:18px; line-height:30px;}
.portfolio-slide{margin:20px 0 90px 0;}
.port-radius img{border-radius:7px;}
.portfolio-title{border-top:1px solid #d2d3d5; border-bottom:1px solid #d2d3d5; margin:0 0 50px 0;}
.portfolio-title-margin{margin:0 14%;}

/** Portfolio Carousel Slider **/

.inno-carousel-indicators li{width:30px; height:12px; background-color:#3d4043; margin:0 0 -70px 0;}
.inno-carousel-indicators .active{width:30px; height:12px; background-color:#cd1516; margin:0 0 -70px 0;}

/** Clients Section **/
.clients-section-title-margin{margin:90px 4% 0 4%;}
.clients-section-logo-main{margin:0 4% 0 4%;}
.client-main-content-area{margin:60px 4% 0 4%;}
.client-logo{margin:20px 0 0 0; border:2px solid #d6d7d8;}
.client-logo-row1{margin:30px 0 0 0;}.client-logo-row2{margin:0;}
.client-logo1 img{margin:22% auto;display: block;}.client-logo2 img{margin:22% auto; display: block;}.client-logo3 img{margin:20% auto; display: block;}.client-logo4 img{margin:21% auto; display: block;}
.client-logo5 img{margin:21% auto; display: block;}.client-logo6 img{margin:19% auto; display: block;}.client-logo7 img{margin:22% auto; display: block;}.client-logo8 img{margin:21% auto; display: block;}
.client-text{margin:50px 4% 0 4%;}
.client-text p{color:#333333; font-family: lato; font-weight:400; text-align:center; font-size:18px; line-height:30px;}
.client-logo:hover{border:2px solid #cd1516; transition:1.5s;}

/** Blog Section **/
.inno-blog{margin:0 0 0 1%;}
.inno-blog-top-text{margin-top:45px; margin-bottom:75px;}
.inno-blog-top-text p{color:#333333; font-family: lato; font-weight:400; text-align:center; font-size:18px; line-height:30px;}
.blog-img img{border-radius:5px; width:100%;}
.blog-text h2{color:#000; font-family:Lato; font-weight:900; font-size:24px; text-transform:uppercase;}
.blog-text h3{color:#000; font-family:Lato; font-weight:700; font-size:18px; margin:15px 0 15px 0;}
.blog-text p{color:#333333; font-family:Lato; font-weight:400; font-size:14px; line-height:25px; text-align:justify;}
.inno-blog-btn{background-color:#5f6266; font-family:Lato; font-weight:400px; font-size:12px; margin:12px 0 0 0; color:#FFF; border:1px solid #45484c;}
.inno-blog-btn:hover{background-color:#da4f50; color:#FFF; border:1px solid #cd1516; transition:0.40s; -webkit-transition:0.40s;}

/** Pricing List Section **/
.priceing-section-title-margin{margin:80px 4% 0 4%; }
.price-list-top-text{margin:45px 4% 25px 4%;}
.price-list-top-text p{color:#333333; font-family: lato; font-weight:400; text-align:center; font-size:18px; line-height:30px;}
.price-box{border:1px solid #dddedf; text-align:center; margin-top:25px;}
.first-box{margin-left:8%;}
.package-name{color:#333333; font-family: lato; font-weight:400; font-size:17px; padding:10px 0;}
.package-price{border-top:1px solid #dddedf; border-bottom:1px solid #dddedf; background-color:#f5f5f5; color:#615e5e; font-family: lato; font-weight:900; font-size:55px; padding:10px 0;}
.doller-sign{color:#615e5e; font-family: lato; font-weight:900; font-size:21px;  margin:10px 0 0 20%;}
.cent{color:#615e5e; font-family: lato; font-weight:900; font-size:17px; margin:13px 0 0 0;}
.cent span{color:#615e5e; font-family: lato; font-weight:400; font-size:12px;}
.package-details{color:#333333; font-family: lato; font-weight:400; font-size:13px; border-bottom:1px solid #dddedf; padding:10px 0;}
.blank-space{border-bottom:1px solid #dddedf; padding:17px 0;}
.package-button{ padding:16px 0; background-color:#f3f3f3;}
.pricing-btn{color:#FFF; background-color:#615e5e; padding:6px 15px; border:1px solid #4a4747; font-size:14px; font-family:lato;font-weight:400;}
.price-box:hover> .inno-price-package .row .package-price{border-top:1px solid #cd1516; border-bottom:1px solid #cd1516; background-color:#eba1a1;  color:#cd1516;}
.price-box:hover> .inno-price-package .row .doller-sign{ color:#cd1516;}.price-box:hover> .row .cent{ color:#cd1516;}.price-box:hover> .row .cent span{ color:#cd1516;}
.price-box:hover{box-shadow: 0 0 20px #333; margin-top:-4px; min-width:220px; border:1px solid #dddedf; z-index:999;}
.price-box:hover> .inno-price-package .row  .package-name{font-size:22px; color:#cc1617; padding:20px 0;}
.price-box:hover> .inno-price-package .row  .package-button{padding:20px 0 40px 0; background-color:#f3f3f3;}
.price-box:hover> .inno-price-package .row  .pricing-btn{background-color:#d84e4e; border:1px solid #cd1516; color:#FFF;}
.price-box:hover> .inno-price-package .row .cent{color:#cd1516;}
.price-box:hover> .inno-price-package .row .cent span{color:#cd1516;}


/** Contact Us Section **/
.contact-wrapper{ height:auto; margin:100px 0 0 0; background-image:url("../images/testimonials-bg.gif"); background-position:center; background-size:cover; background-attachment: fixed;}
.contact{margin:0 4%;}
.contact-main-area{margin:70px 0;}
.contact-section-title h2{color:#FFF; font-family:Lato; font-weight:900; text-align:center; font-size:42px;}
.contact-section-title h3{color:#FFF; font-family:Lato; font-weight:700; text-align:center; font-size:18px; margin:5px 0 0 0;}
.contact-section-style{height:10px; background-image:url("../images/section-style.png"); background-position:top center; background-repeat:no-repeat; margin:-3px 0 0 0;}
.contact-us{margin:50px 0 0 0;}
.contact-us p{color:#FFF; font-family: lato; font-weight:400; text-align:center; font-size:18px; line-height:30px;}
.location-map{margin:50px 0 0 0;}
.google-map{height:380px;}
#map_canvas{width: 100%; height:100%;}
.contact-form{margin:10px 0 0 0;}

/** Contact Form Section **/
#first-name,#email,#phone,#last-name,#company{width:100%; height:55px; background-color:transparent; margin:40px 0 0 0; border:2px solid #FFF; color:#FFF;}
#message{width:100%; height:215px; background-color:transparent; margin:40px 0 0 0; border:2px solid #FFF; color:#FFF;}
#submit{width:100%; height:54px; border:2px solid #cd1516; background-color:#a71c1d; margin:40px 0 0 0; color:#FFF; font-size:20px; text-transform:uppercase; font-family:roboto; font-weight:400;}
#state option{color:#000;}
.form-control::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #FFF;
}
.form-control::-webkit-input-placeholder {
  color: #FFF;
}
.form-control:focus{outline:0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #cd1516; box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #cd1516;border-radius: 4px;}
#first-name:focus,#email:focus,#phone:focus,#last-name:focus,#company:focus,#message:focus{border:2px solid #cd1516; border-radius:4px;}


/** Footer Section **/
.footer-wrapper{border-bottom:8px solid #cd1516;}
.scroll-top{width:70px; height:70px; border-radius:50%; border:2px solid #cacbcd; background-image:url("../images/icon/scroll-top.png"); background-position:center center; background-repeat:no-repeat;}
.bottom-scroll-icon{width:73px; height:73px; margin:60px auto; }
.footer-text{margin:0 4%;}
.footer-text p{color:#333333; font-size:17px; font-family:lato; font-weight:700; text-align:center; padding:30px 0 20px 0;}
.footer-icon{ width:200px; margin:0 auto 60px auto;}
.social-icon ul{margin:0 0 0 -20px;}
.social-icon li{list-style:none; float:left; margin:0 2%;}

/** Blog Page CSS **/
.comment-wrapper{ height:auto; margin:100px 0 0 0; background-image:url("../images/testimonials-bg.gif"); background-position:center; background-size:cover; background-attachment: fixed;}
.comment{margin:0 4% 50px 4%;}
.single-blog-section-title-margin{margin:60px 4% 0 4%;}
.single-blog{margin:70px 0 0 0;}
.single-blog h3{margin:0 0 30px 0;}
#special-text{border-left:8px solid #cd1516; padding-left:20px; margin: 25px 0; font-style:italic; font-weight:bold;}
#blog-name,#blog-email,#blog-website{width:100%; height:45px; background-color:transparent; margin:40px 0 0 0; border:1px solid #FFF; color:#FFF;}
#blog-comment{width:100%; height:180px; background-color:transparent; margin:30px 0 0 0; border:1px solid #FFF; color:#9f9f9f;}
#blog-submit{width:100%; height:48px; border:2px solid #cd1516; background-color:#a71c1d; margin:30px 0 0 0; color:#FFF; font-size:16px; text-transform:uppercase; font-family:roboto; font-weight:400;}
.comment-form-control {display: block;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: transparent;border-radius: 4px;}
.leave-comments{margin-top:80px; margin-bottom:50px;}
.leave-comments h2{color:#FFF; font-family:Lato; font-weight:900; text-align:center; font-size:26px;}
.leave-comments h3{color:#FFF; font-family:Lato; font-weight:700; text-align:center; font-size:16px; margin:5px 0 0 0;}

.comment-option{margin-top:100px;}
.comments-title{border-top:1px solid #d8dbd9; border-bottom:1px solid #d8dbd9; margin:0 0 50px 0;}
.comments-title p{margin:3px 0 0 0; padding: 6px 0; font-family:lato; font-weight:900; font-size:20px;}
.blog-comment{margin:25px 0;}
.user-icon img{width:75px; height:75px; border-radius: 100%; background-color: #ededed; border: 2px solid #ededed; margin:7px 0 0 0;}
.comment-text{background-color:#f5f6f5; border-left:5px solid #cd1516;}
.comment-text p{padding:5px 7px; color:#000; font-family:Lato; font-weight:300px;}
.comment-date-reply{font-weight:600; font-family:lato; font-size:14px; margin:7px 0 0 0; color:#484948;}
