.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.grid figure{
	margin:0 auto;
}

.grid figure figcaption {
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius:50%;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.inno-effect figcaption::before {
	position: absolute;
}

figure.inno-effect h2 {
	margin: 25px 0 0 0;
	-webkit-transition: opacity 0.95s, transform 0.65s;
	transition: opacity 0.95s, transform 0.65s;
	-webkit-transform: scale(0);
	transform: scale(0);
	text-transform:uppercase;
	font-family:lato;
	font-size:18px;
	font-weight:400;
	opacity:1;
}

figure.inno-effect figcaption::before,
figure.inno-effect p {
	margin: 10px 0 10px 0;
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,500%,0);
	transform: translate3d(0,500%,0);
	font-family:lato;
	font-size:14px;
	font-weight:400;
}

figure.inno-effect:hover h2 {
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.inno-effect:hover figcaption::before,
figure.inno-effect:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.inno-effect:hover figcaption {
	background-color: rgba(205, 21, 22, 0.7);
	border-radius:50%;
	margin-top:1px;
	transition:0.80s;
	-webkit-transition:0.80s;
}

.inno-effect .portfolio-icon-links{margin:90px 0 0 0; font-size:21px;}
.inno-effect .portfolio-icon-links a{color:#FFF;}
.inno-effect .portfolio-icon-links span{margin:0 3px;}

.inno-effect .portfolio-icon-links {
	
	-webkit-transition: -webkit-transform 0.75s;
	transition: transform 0.75s;
	-webkit-transform: translate3d(0,-650%,0);
	transform: translate3d(0,-650%,0);
	
}

.inno-effect:hover>.portfolio-icon-links p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.fa{border-radius:50%; border:2px solid #FFF; text-align:center;}
.fb-icon{padding:10px 14px;}.tw-icon{padding:10px 10px;}.google-icon{padding:9px 10px;}
.li-icon{padding:13px 14px;}.se-icon{padding:13px 14px;}
.portfolio-icon-links span:hover> .fa{background-color:#57abee;}

@media only screen and (min-width:993px) and (max-width: 1199px) {

.inno-effect .portfolio-icon-links{margin:50px 0 0 0; font-size:15px;}
.fb-icon{padding:7px 11px;}.tw-icon{padding:7px 7px;}.google-icon{padding:6px 7px;}
.li-icon{padding:10px 11px;}.se-icon{padding:10px 11px;}
figure.inno-effect h2 {margin: 15px 0 0 0; font-size:18px;}
figure.inno-effect figcaption::before,
figure.inno-effect p {margin: 5px 0 10px 0;font-size:14px; -webkit-transform: translate3d(0,600%,0); transform: translate3d(0,600%,0);}
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

.inno-effect .portfolio-icon-links{margin:35px 0 0 0; font-size:15px;}
.fb-icon{padding:7px 11px;}.tw-icon{padding:7px 7px;}.google-icon{padding:6px 7px;}
.li-icon{padding:10px 11px;}.se-icon{padding:10px 11px;}
figure.inno-effect h2 {margin: 15px 0 0 0; font-size:13px;}
figure.inno-effect figcaption::before,
figure.inno-effect p {margin: 5px 0 10px 0;font-size:12px; -webkit-transform: translate3d(0,600%,0); transform: translate3d(0,600%,0);}

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

.grid {width:255px;}
.portfolio-grid {width:255px;}

}

@media only screen and (min-width: 240px) and (max-width: 480px) {

.grid {width:200px;}
.inno-effect .portfolio-icon-links{margin:40px 0 0 0; font-size:15px;}
.portfolio-grid {width:240px;}

}

.portfolio-grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	height:265px;
}

.portfolio-grid  figure {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.portfolio-grid  figure{
	margin:0 auto;
}

.portfolio-grid  figure figcaption {
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius:50%;
}

.portfolio-grid  figure figcaption::before,
.portfolio-grid  figure figcaption::after {
	pointer-events: none;
}

.portfolio-grid  figure figcaption,
.portfolio-grid  figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

