
@media only screen and (min-width: 769px){
#navbar{width:650px; margin:0 auto;}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

.price-box{width:220px; margin:25px auto; clear:both;}
.inno-price-package{margin:0 auto;}
.our-team{margin: 0 0 35px 0;}
.coffe-icon{margin-top:0;}

/** Navigation Area **/
.inno-menu li { float: none; padding: 20px 5px 5px; text-transform: uppercase; font-family: Lato; font-weight: 900; font-size: 12px; margin-left:14px; }
.inno-menu{	float:right; }
.inno-nav{margin: 13px 0 0 0; }
.inno-menu ul{margin-right:-15px;}
.inno-menu li{padding:10px 35px 10px 35px; background-color:rgba(0,0,0, 0.8);}
.inno-menu li:hover{background-color:#525050;}
.inno-menu .nav .active {background-color:#525050;}
}

@media only screen and (min-width: 361px) and (max-width: 480px) {

.price-box{width:220px; margin:25px auto; clear:both;}
.inno-price-package{margin:0 auto;}
.section-title h2{color:#2e2e2e; font-family:Lato; font-weight:900; text-align:center; font-size:32px;}
.service-text-area h2{color:#2e2e2e; font-family:Lato; font-weight:900; text-transform:uppercase; text-align:center; margin:27px 0 0 0; font-size:16px;}
.inno-number-text span{font-family:Lato; font-weight:300; font-size:55px;}
.coffe-icon{margin-top:0;}
.testimonials-section-title h2{color:#FFF; font-family:Lato; font-weight:900; text-align:center; font-size:32px;}
.contact-section-title h2{color:#FFF; font-family:Lato; font-weight:900; text-align:center; font-size:32px;}
.our-team{margin: 0 0 35px 0;}
.blog-text h2{color:#000; font-family:Lato; font-weight:900; font-size:18px; text-transform:uppercase;}
.blog-text h3{color:#000; font-family:Lato; font-weight:700; font-size:14px; margin:15px 0 15px 0;}

/** Navigation Area **/
.inno-menu li { float: none; padding: 20px 5px 5px; text-transform: uppercase; font-family: Lato; font-weight: 900; font-size: 12px; margin-left:14px; }
.inno-menu{	float:right; }
.inno-nav{margin: 13px 0 0 0; }
.inno-menu ul{margin-right:-15px;}
.inno-menu li{padding:10px 35px 10px 35px; background-color:rgba(0,0,0, 0.8);}
.inno-menu li:hover{background-color:#525050;}
.inno-menu .nav .active {background-color:#525050;}

}

@media only screen and (min-width: 240px) and (max-width: 360px) {

.price-box{width:220px; margin:25px 0 0 0;}
.inno-blog-btn{background-color:#5f6266; font-family:Lato; font-weight:300px; font-size:10px; margin:12px 0 0 0; color:#FFF; border:1px solid #45484c;}
.section-title h2{color:#2e2e2e; font-family:Lato; font-weight:900; text-align:center; font-size:32px;}
.service-text-area h2{color:#2e2e2e; font-family:Lato; font-weight:900; text-transform:uppercase; text-align:center; margin:27px 0 0 0; font-size:16px;}
.inno-number-text span{font-family:Lato; font-weight:300; font-size:55px;}
.coffe-icon{margin-top:0;}
.testimonials-section-title h2{color:#FFF; font-family:Lato; font-weight:900; text-align:center; font-size:27px; margin:0 0 0 -15px;}
.contact-section-title h2{color:#FFF; font-family:Lato; font-weight:900; text-align:center; font-size:32px;}
.our-team{margin: 0 0 35px 0;}
.blog-text h2{color:#000; font-family:Lato; font-weight:900; font-size:18px; text-transform:uppercase;}
.blog-text h3{color:#000; font-family:Lato; font-weight:700; font-size:14px; margin:15px 0 15px 0;}

/** Navigation Area **/
.inno-menu li { float: none; padding: 20px 5px 5px; text-transform: uppercase; font-family: Lato; font-weight: 900; font-size: 12px; margin-left:14px; }
.inno-menu{	float:right; }
.inno-nav{margin: 13px 0 0 0; }
.inno-menu ul{margin-right:-15px;}
.inno-menu li{padding:10px 35px 10px 35px; background-color:rgba(0,0,0, 0.8);}
.inno-menu li:hover{background-color:#525050;}
.inno-menu .nav .active {background-color:#525050;}
}