.float-left {float: left; position: relative; top: -10px; margin-right: 15px;}
.float-right {float: right; position: relative; top: -10px; margin-right: 15px;}
/* filters */
#filter {list-style-type: none; margin: 0; padding: 0;}
#filter li, #filter a {display: block; float: left; margin: 0; font-family:Lato; font-weight:700; font-size:18px; text-transform:uppercase; color:#333333;}
#filter a {text-decoration: none; padding: 15px 15px;}
#filter a.active {background: #d7d8d9;}
#filter a:hover {background: #d7d8d9;}

/* grid */
#grid {clear: both; position: relative}
.item {margin-top: 20px; margin-bottom: 10px; color: #fff; font-size: 60px; text-align:center; cursor: default;}
.port-bg{width:100%;}
